main {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.cajae a {
  color: white;
  text-decoration-line: none;
  font-family: fantasy;
}
.cajae {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  background: rgb(128, 128, 128);
  justify-content: center;
  align-items: center;
}

.cajae:hover {
  background: black;
}
.cajae a:visited {
  color: red;
}
.cajai {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  background: rgb(128, 128, 128);
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cajai:hover {
  background: rgb(129, 67, 67);
}
.bttn {
  border-radius: 1rem;
  outline: none;
  border: none;
}
.cajai .bttn:active {
  background-color: black;
  color: white;
}
